html, body {
	height: 100%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	overflow: hidden;
}


h3 {
	color: #808080;

	font-size: 0.75em;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 400;

	position: absolute;
	left: 50%;
	bottom: 5px;

	transform: translateX(-50%);
}

@-webkit-keyframes checkmark {
		0% {
				stroke-dashoffset: 50px
		}

		100% {
				stroke-dashoffset: 0
	}
}

@-ms-keyframes checkmark {
		0% {
				stroke-dashoffset: 50px
		}

		100% {
				stroke-dashoffset: 0
		}
}

@keyframes checkmark {
		0% {
				stroke-dashoffset: 50px
		}

		100% {
				stroke-dashoffset: 0
		}
}

@-webkit-keyframes checkmark-circle {
		0% {
				stroke-dashoffset: 240px
		}

		100% {
				stroke-dashoffset: 480px
		}
}

@-ms-keyframes checkmark-circle {
		0% {
				stroke-dashoffset: 240px
		}

		100% {
				stroke-dashoffset: 480px
		}
}

@keyframes checkmark-circle {
		0% {
				stroke-dashoffset: 240px
		}

		100% {
				stroke-dashoffset: 480px
		}
}

@keyframes checkmark-rise {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-20px);
	}
}

 .svg svg {
	 position: flex;

	 animation: checkmark-rise 0.25s ease-in-out 1.25s forwards;
 }
 
.inlinesvg .svg svg {
		display: inline;
}

.icon--order-success svg path {
		-webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
		animation: checkmark 0.25s ease-in-out 0.7s backwards
}

.icon--order-success svg circle {
		-webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
		animation: checkmark-circle 0.6s ease-in-out backwards
}

h1 {
	color: #202020;

	font-size: 1em;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 400;
	text-align: center;
	
	width: 100%;

	position: absolute;
	top: 54%;

	transform: translate(0%, -50%) rotateX(90deg);
	display: inline-block;
	animation: swingAnimation 0.4s linear forwards;
	animation-delay: 1.3s;
}

@keyframes swingAnimation {
	0% {
			transform: rotateX(90deg);
			transform-origin: bottom;
	}
	100% {
			transform: rotateX(0deg);
			transform-origin: bottom;
	}
	}